@page "/"
@using System.IO
@using System.Collections.Generic
@using System
@using System.Text

<style>
    .index-container {
        height: 95vh;
        width: 100%;
    }

    .filter-container {
        padding-top: 2.5vh;
        height: 10vh;
        width: 100%;
        display: flex;
    }

    .button-div {
        height: 5vh;
        width: 95%;
        margin-right: 2.5%;
        margin-left: 2.5%;
        margin-top: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-container {
        height: 75vh;
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .filter {
        height: 10vh;
        width: calc(100vw/5);
        margin-left: 2.5%;
        margin-right: 2.5%;
    }


    Label {
        color: black;
        font-weight: 500;
        font-size: 1.5em;
        font-family: opensans-condensed-bold;
    }

    iframe {
        height: 70vh;
        width: inherit;
        margin-left: 2.5%;
    }



    .button-search {
        background-color: #003340;
        font-size: 1em;
        text-align: center;
        color: white;
        width: 200px;
        height: 5vh;
        line-height: 5vh;
        margin-right: 10px;
        border: none;
        border-radius: 20px;
        font-family: opensans-condensed-bold;
    }
</style>

<div class="index-container">
    <div class="filter-container">
        <div class="filter">
            <MudSelect T="string" MultiSelection="true" Class="mudselect" SelectAll="true" SelectAllText="Select All Vendors" @bind-Value="Vendorvalue" @bind-SelectedValues="Vendoroptions" MultiSelectionTextFunc="@(new Func<List<string>, string>(GetVendors))" Label="Vendors" AdornmentIcon="@Icons.Material.Filled.Search">
                @foreach (var vendor in Vendors)
                {
                    <MudSelectItem T="string" Value="@vendor">@vendor</MudSelectItem>
                }
            </MudSelect>
        </div>
        <div class="filter">
            <MudSelect T="string" MultiSelection="true" Class="mudselect" SelectAll="true" SelectAllText="Select All Dates" @bind-Value="Datevalue" @bind-SelectedValues="Dateoptions" MultiSelectionTextFunc="@(new Func<List<string>, string>(GetDates))" Label="Dates" AdornmentIcon="@Icons.Material.Filled.Search">
                @foreach (var date in Dates)
                {
                    <MudSelectItem T="string" Value="@date">@date</MudSelectItem>
                }
            </MudSelect>
        </div>
        <div class="filter">
            <MudSelect T="string" MultiSelection="true" Class="mudselect" SelectAll="true" SelectAllText="Select All Subscriptions" @bind-Value="Subscriptionvalue" @bind-SelectedValues="Subscriptionoptions" MultiSelectionTextFunc="@(new Func<List<string>, string>(GetSubscriptions))" Label="Subscriptions" AdornmentIcon="@Icons.Material.Filled.Search">
                @foreach (var subscription in Subscriptions)
                {
                    <MudSelectItem T="string" Value="@subscription">@subscription</MudSelectItem>
                }
            </MudSelect>
        </div>
        <div class="filter">
            <MudSelect T="string" MultiSelection="true" Class="mudselect" SelectAll="true" SelectAllText="Select All Reource Groups" @bind-Value="ResourceGroupvalue" @bind-SelectedValues="ResourceGroupoptions" MultiSelectionTextFunc="@(new Func<List<string>, string>(GetResourceGroups))" Label="Resource Groups" AdornmentIcon="@Icons.Material.Filled.Search">
                @foreach (var resourcegroup in ResourceGroups)
                {
                    <MudSelectItem T="string" Value="@resourcegroup">@resourcegroup</MudSelectItem>
                }
            </MudSelect>
        </div>
        <div class="filter">
            <MudSelect T="string" MultiSelection="true" Class="mudselect" SelectAll="true" SelectAllText="Select All Reource Groups" @bind-Value="ResourceGroupvalue" @bind-SelectedValues="ResourceGroupoptions" MultiSelectionTextFunc="@(new Func<List<string>, string>(GetResourceGroups))" Label="Project" AdornmentIcon="@Icons.Material.Filled.Search">
                @foreach (var resourcegroup in ResourceGroups)
                {
                    <MudSelectItem T="string" Value="@resourcegroup">@resourcegroup</MudSelectItem>
                }
            </MudSelect>
        </div>
    </div>
    <div class="button-div">
        <input type="button" class="button-search" value="Clear" @onclick="Clear" />
        <input type="button" class="button-search" value="Filter" @onclick="BeginFilter" />
    </div>
    <div class="main-container">
        <iframe src="@link"></iframe>
    </div>
</div>

@code{

    public string mainlink = "https://app.powerbi.com/reportEmbed?reportId=4404ecbd-708d-497a-8164-a3dc11260ca9&autoAuth=true&ctid=92454335-564e-4ccf-b0b0-24445b8c03f7&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1pLXByaW1hcnktcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D&pageName=ReportSectionc15b8c90aaa4eb154d3b";
    private string link;
    private string mainfilter;
    private string filterstart = "&$filter=";
    private string Vendorvalue { get; set; } = "Select Vendor";
    private string Subscriptionvalue { get; set; } = "Select Subscription";
    private string Datevalue { get; set; } = "Select Date";
    private string ResourceGroupvalue { get; set; } = "Select Resource Group";

    private IEnumerable<string> Vendoroptions;
    private IEnumerable<string> Dateoptions;
    private IEnumerable<string> Subscriptionoptions;
    private IEnumerable<string> ResourceGroupoptions;


    private string selectedVendorsString;
    private string selectedResourceGroupsString;
    private string selectedSubscriptionsString;
    private string selectedDatesString;

    private List<string> selectedVendors;
    private List<string> selectedResourceGroups;
    private List<string> selectedSubscriptions;
    private List<string> selectedDates;

    private string[] Vendors =
    {
        "AWS", "Azure", "Azure CSP"
    };

    private string[] Dates =
    {
        "03-01-2018"
    };
    private string[] Subscriptions =
    {
        "AWS New", "48 Software", "Group IT"
    };
    private string[] ResourceGroups =
    {
        "$system", "1Password", "Alerts"
    };

    private string vendorfilter;
    private string datefilter;
    private string subscriptionfilter;
    private string resourcegroupfilter;

    protected override async Task OnInitializedAsync()
    {
        mainfilter = "";
        link = mainlink;
        selectedVendorsString = "";
        selectedResourceGroupsString="";
        selectedSubscriptionsString="";
        selectedDatesString="";

        Vendoroptions  = new HashSet<string>();
        Dateoptions = new HashSet<string>();
        Subscriptionoptions = new HashSet<string>();
        ResourceGroupoptions  = new HashSet<string>();

        selectedVendors = new List<string>();
        selectedResourceGroups = new List<string>();
        selectedSubscriptions = new List<string>();
        selectedDates = new List<string>();

        vendorfilter = "";
        datefilter ="";
        subscriptionfilter="";
        resourcegroupfilter="";

        await Task.Delay(0);
    }

    private string GetVendors(List<string>selectedValues)
    {
        selectedVendorsString = string.Join(",", selectedValues);
        selectedVendors = selectedValues;
        return $"{selectedVendorsString}";
    }
    private string GetResourceGroups(List<string> selectedValues)
    {
        selectedResourceGroupsString = string.Join(",%20", selectedValues);
        selectedResourceGroups = selectedValues;
        return $"{selectedResourceGroupsString}";
    }
    private string GetSubscriptions(List<string>selectedValues)
    {
        selectedSubscriptionsString = string.Join(",%20", selectedValues);
        selectedSubscriptions = selectedValues;
        return $"{selectedSubscriptionsString}";

    }

    private string GetDates(List<string> selectedValues)
    {
        selectedDatesString = string.Join(",%20", selectedValues);
        selectedDates = selectedValues;
        return $"{selectedDatesString}";
    }

    private void BeginFilter()
    {
        if (selectedVendors.Count() != 0)
        {
            buildVendorFilter();
            mainfilter = mainfilter+vendorfilter;
        }
        if (selectedDates.Count() != 0)
        {
            buildDateFilter();
            if (selectedVendors.Count() != 0)
            {
                mainfilter = mainfilter + "%20and%20" + datefilter;
            }
            else
            {
                mainfilter = mainfilter + datefilter;
            }

        }
        if (selectedResourceGroups.Count() != 0)
        {
            buildResourceGroupFilter();
            if (selectedDates.Count() != 0 || selectedVendors.Count()!=0)
            {
                mainfilter = mainfilter + "%20and%20" + resourcegroupfilter;
            }
            else
            {
                mainfilter = mainfilter + resourcegroupfilter;

            }

        }
        if (selectedSubscriptions.Count() != 0)
        {
            buildSubscriptionFilter();
            if (selectedDates.Count()!=0 || selectedVendors.Count()!=0 || selectedResourceGroups.Count() != 0)
            {
                mainfilter = mainfilter + "%20and%20" + subscriptionfilter;

            }
            else
            {
                mainfilter = mainfilter + subscriptionfilter;
            }

        }
        Console.WriteLine(vendorfilter);
        Console.WriteLine(datefilter);
        Console.WriteLine(resourcegroupfilter);
        Console.WriteLine(subscriptionfilter);
        Console.WriteLine(mainfilter);
        link = link + filterstart + mainfilter;
        Console.WriteLine(link);
    }

    private void buildVendorFilter()
    {
        if (selectedVendors.Count() == Vendors.Length)
        {
            vendorfilter = "Subscription%2FVendor%20eq%20%27All%27";
        }
        else if (selectedVendors.Count() == 1)
        {
            vendorfilter = "Subscription%2FVendor%20eq%20%27" + selectedVendors[0]+ "%27";
        }
        else
        {
            vendorfilter = "Subscription%2FVendor%20in%20(";

            for (int i = 0; i < selectedVendors.Count; i++)
            {
                if (i == selectedVendors.Count - 1)
                {
                    vendorfilter = vendorfilter + "%27" + selectedVendors[i]+ "%27)";
                }
                else
                {
                    vendorfilter = vendorfilter + "%27" + selectedVendors[i] + "%27,";
                }
            }
        }
    }

    private void buildDateFilter()
    {
        if (selectedDates.Count() == Dates.Length)
        {
            datefilter = "Dates%2FDate%20eq%20%27All%27";
        }
        else if (selectedDates.Count() == 1)
        {
            datefilter = "Dates%2FDate%20eq%20%27" + selectedDates[0] + "%27";
        }
        else
        {
            datefilter = "Dates%2FDate%20in%20(";

            for (int i = 0; i < selectedDates.Count; i++)
            {
                if (i == selectedDates.Count - 1)
                {
                    datefilter = datefilter + "%27" + selectedDates[i] + "%27)";
                }
                else
                {
                    datefilter = datefilter + "%27" + selectedDates[i] + "%27,";
                }
            }
        }
    }
    private void buildSubscriptionFilter()
    {
        if (selectedSubscriptions.Count() == Subscriptions.Length)
        {
            subscriptionfilter = "Subscription%2FSubscriptionName%20eq%20%27All%27";
        }
        else if (selectedSubscriptions.Count() == 1)
        {
            subscriptionfilter = "Subscription%2FSubscriptionName%20eq%20%27" + selectedSubscriptions[0] + "%27";
        }
        else
        {
            subscriptionfilter = "Subscription%2FSubscriptionName%20in%20(";

            for (int i = 0; i < selectedSubscriptions.Count; i++)
            {
                if (i == selectedSubscriptions.Count - 1)
                {
                    subscriptionfilter = subscriptionfilter + "%27" + selectedSubscriptions[i] + "%27)";
                }
                else
                {
                    subscriptionfilter = subscriptionfilter + "%27" + selectedSubscriptions[i] + "%27,";
                }
            }
        }
    }
    private void buildResourceGroupFilter()
    {
        if (selectedResourceGroups.Count() == ResourceGroups.Length)
        {
            resourcegroupfilter = "ResourceGroup%2FResourceGroupName%20eq%20%27All%27";
        }
        else if (selectedResourceGroups.Count() == 1)
        {
            resourcegroupfilter = "ResourceGroup%2FResourceGroupName%20eq%20%27" + selectedResourceGroups[0] + "%27";
        }
        else
        {
            resourcegroupfilter = "ResourceGroup%2FResourceGroupName%20in%20(";

            for (int i = 0; i < selectedResourceGroups.Count; i++)
            {
                if (i == selectedResourceGroups.Count - 1)
                {
                    resourcegroupfilter = resourcegroupfilter + "%27" + selectedResourceGroups[i] + "%27)";
                }
                else
                {
                    resourcegroupfilter = resourcegroupfilter + "%27" + selectedResourceGroups[i] + "%27,";
                }
            }
        }
    }

    private async Task Clear()
    {
        await OnInitializedAsync();
    }
}